body {
  font-family: Roboto, Arial;
  padding: 0px 30px;
  margin-top: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.header-left {
  display: flex;
}
.header-left-logo {
}
.header-left-text {
  display: flex;
  margin-left: 20px;
}

.header-left-text p {
  margin-left: 12px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}
.header-right-text {
  margin-right: 20px;
}
.header-right-logo i {
  margin-left: 15px;
}
.carousel {
  position: relative;
}
.carousel-image {
  max-width: 100%;
}
.carousel-text {
  position: absolute;
  top: 90px;
  left: 50px;
}

.carousel-text-heading {
  font-weight: bold;
  font-size: 28px;
}
.carousel-text-button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}
.carousel-text-container {
  display: flex;
}
.carousel-text-small {
  margin-left: 60px;
  font-weight: bold;
}
.carousel-text-para {
  font-weight: normal;
}
.icons {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  align-items: center;
}

.icons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  font-size: 40px;
}
.icons-item p {
  font-size: 14px;
  line-height: 0;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.single-product {
  width: 400px;
}

.single-product-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.single-product-para {
  width: 280px;
  overflow-wrap: break-word;
}

.single-product-link {
  color: rgb(32, 163, 238);
}

.single-product-button {
  padding: 6px 12px;
  background-color: rgb(255, 196, 0);
  color: black;
  border: none;
  margin-top: 5px;
}
.carousel2 {
  position: relative;
}
.carousel2-image {
  width: 100%;
}

.carousel2-text {
  position: absolute;
  top: 150px;
  left: 60px;
}
.carousel2-text-heading {
  font-size: 30px;
  font-weight: bold;
}

.carousel2-text-para {
  line-height: 2px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.products-2 {
  margin-top: 15px;
}
